.uploadPage {
    color: white;
    height: 100vh;
}

.uploadPage h2 {
    color: white;
}

@media (min-width: 450px) {
    .uploadPage {
        height: inherit;
        padding-bottom: 10px;
    }
}