.App {
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: #2b4280;
  }
  
  .App__header {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .App__main {
    margin-top: 20px;
  }