.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
}

.card {
    min-height: 200px;
    padding: 6% 0;
    background-color: #4569cc;
    height: 200px;
    width: 42%;
    margin: 2%;
    border-radius: 70px;
}

.homePage {
    margin: 50px 5px;
}

.homePage a {
    background:#525e80;
    color: white;
    padding: 6px 15px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}