.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
}

.card {
    min-height: 200px;
    padding: 6% 0;
    background-color: #A3BCFF;
    height: 200px;
    width: 42%;
    margin: 2%;
}

.homePage {
    margin: 50px 5px;
}