.Header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5784FF;
    border-bottom: solid black 1px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    flex-direction: column;
    z-index: 99
    ;
  }

  .Header__buttons {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  
  .Header h1 {
    margin: 5px 0;
    vertical-align: middle;
    width: 100%;
  }
  
  .Header a {
    color: #444;
    text-decoration: none;
  }
  
  .Header__tagline--wide {
    opacity: 0.35;
    margin-left: 10px;
  }
  
  .Header__tagline--narrow {
    opacity: 0.35;
    display: block;
    text-align: center;
    display: none;
    margin-top: 10px;
  }
  
  .Header__not-logged-in, .Header__logged-in {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
  
  .Header__not-logged-in a, .Header__logged-in a {
    background:#525e80;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  @media screen and (min-width: 450px) {
    .Header h1 {
      font-size: 22pt;
    }
  }
  
  @media screen and (max-width: 490px) {
    .Header__tagline--wide {
      display: none;
    }
  
    .Header__tagline--narrow {
      display: inherit;
    }
  }
  